<div class="container">
    <div class="user-bar">
        <label class="user-bar-photo">Photo</label>
        <label class="user-bar-details">Details</label>
        <label class="user-bar-actions">Actions</label>
    </div>
    <div class="user" *ngFor="let user of users">
        <div class="photo">
            <img [src]="user.profileUrl" [alt]="user.name">
        </div>
        <div class="informations">
            <label class="name"> {{ user.name }} </label>
            <div class= "email">
                <mat-icon color="accent">email</mat-icon>
                <label>{{ user.email }}</label>
            </div>
            <div>
                <label> Added On:</label>
                <label> {{ user.addedOn | date : 'dd/MM/yyyy'}}</label>
            </div>
            <label> {{ user.role }} </label>
        </div>
        <div class="buttons">
            <button color="primary" mat-raised-button>
                <mat-icon>mode_edit</mat-icon>
            </button>
        </div>
        <div>
            <button color="warn" (click)="deleteUser(user)" mat-stroked-button>
                <mat-icon>person_remove</mat-icon>                
            </button>
        </div>        
    </div>
    <div class="footer-bar">
        <button color="accent" (click)="registerUser()" mat-raised-button>
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
</div>