<div class="container">
    <div class="wrapper" *ngIf="users.length; else noUsers">
        <div class="user-bar">
            <label class="user-bar-photo">Photo</label>
            <label class="user-bar-details">Details</label>
            <label class="user-bar-actions">Actions</label>
        </div>
        <div class="user" *ngFor="let user of users">
            <div class="preparePhoto">
                <div class="photo">
                    <img [src]="user.profileUrl" [alt]="user.name">
                </div>
            </div>
            <div class="informations">
                <label class="name"> {{ user.name }} </label>
                <div class="email">
                    <mat-icon color="accent">email</mat-icon>
                    <label>{{ user.email }}</label>
                </div>
                <div>
                    <label> Added On:</label>
                    <label> {{ user.addedOn | date : 'dd/MM/yyyy'}}</label>
                </div>
                <label> {{ user.role }} </label>
            </div>
            <div class="buttons">
                <button color="primary" (click)="edit(user)" mat-raised-button matTooltip="Edit" matTooltipClass="example-tooltip-yellow">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </div>
            <div class="buttons">
                <button color="warn" (click)="delete(user)" mat-stroked-button matTooltip="Delete"
                    matTooltipClass="example-tooltip-yellow">
                    <mat-icon>person_remove</mat-icon>
                </button>
            </div>
        </div>
        <div class="footer-bar">
            <button color="accent" (click)="registerUser()" mat-raised-button mat-stroked-button
                matTooltip="Add new user" matTooltipClass="example-tooltip-yellow">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
        <hr>
        <div class="footer">
            <label>
                {{ footerMsg }}
            </label>
        </div>
    </div>
</div>

<ng-template #noUsers>
    <div class="wrapper">
        <div class="user-bar no-users">
            <label> {{ noUsersMsg }}</label>
        </div>
        <div class="footer-bar">
            <button color="accent" (click)="registerUser()" mat-raised-button mat-stroked-button
                matTooltip="Add new user" matTooltipClass="example-tooltip-yellow">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
        <hr>
        <div class="footer">
            <label>
                {{ footerMsg }}
            </label>
        </div>
    </div>
</ng-template>