<div class="container" *ngIf="user">
    <div class="user-bar">
        <label> {{ userBarMsg }} </label>
    </div>
    <form class="user" autocomplete="off" novalidate [formGroup]="user" (ngSubmit)="submit()">
        <mat-card class="mat-card-class">
            <mat-card-content class="mat-card-content-fields full-width">
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name *" name="name" formControlName="name">
                        <mat-error *ngIf="validation.checkAllErrors(controls.name, 'required')">This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Photo url *" name="profileUrl" formControlName="profileUrl">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <mat-label>E-mail *</mat-label>
                        <input matInput placeholder="example@example.com" name="email" formControlName="email">
                        <mat-error *ngIf="validation.checkAllErrors(controls.email, 'required')">This field is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Added on *"
                            name="addedOn" formControlName="addedOn" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker color="accent"></mat-datepicker>
                        <mat-error *ngIf="validation.checkAllErrors(controls.addedOn, 'required')">This field is
                            required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Role in the company *" name="role" formControlName="role">
                        <mat-error *ngIf="validation.checkAllErrors(controls.role, 'required')">This field is
                            required</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-content class="mat-card-content-photo">
                <div>
                    <h3>Photo Preview</h3>
                </div>
                <div class="preparePhoto" *ngIf="controls.profileUrl.value; else noPhoto">                    
                    <div class="photo">
                        <img [src]="controls.profileUrl.value" [alt]="controls.profileUrl.value">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="footer-bar">
            <button (click)="routeUserList()" color="accent" mat-fab matTooltip="Go back" matTooltipClass="example-tooltip-yellow">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button type="submit" color="primary" mat-fab matTooltip="Save" matTooltipClass="example-tooltip-yellow">
                <mat-icon>save_alt</mat-icon>
            </button>
        </div>
    </form>
</div>

<ng-template #noPhoto>   
    <div class="preparePhoto">
        <div class="photo">
            <img [src]="defaultPhoto" alt="Default photo">
        </div>
    </div>
</ng-template>